body{
  background-color: #222;
}

a{
  color: #fff;
  text-decoration: none;
}

.barra{
  height: 50px;
  background-color: black;
  opacity: 50%;
}

.barra img{
  margin-left:20px ;
  margin-top: 10px;
  margin-bottom: 5px;
  position: fixed;
}

.barra ul{
  margin-left: 100px;
  position: f;
}

.barra li{
  margin-top: 15px;
  float: left;
  list-style: none;
  font-size: 18px;
  margin-left: 5px;
  color: white;
}

.izq{
  float: right;
  margin-right: 20px;
}

.seccio{
  margin-top: 10px;
  margin-left: 20px;
  color: #fff;
  font-size: 22px;
  width: 100%;
}



h3{
  margin-left: 0px;
  width: 175px;
  font-family: 14px;
  color: #ccc;
}


#cartel{
  margin-left: 20px;
  margin-top:20px;
  width: 175px;
  height: auto;
  padding: 0;
  border-radius: 5px;
  float: left;
}

#cartel p{
  color: #ccc;
  float: left;
  margin-right: 30px;
  font-size: 11px;
}

div{
  width: 100%;
}

.pelisp{
  width: 100%;
  float:left;
}
.vistos{
  width: 100%;
  float:left;
}


.seccio2{
  margin-top: 10px;
  margin-left: 20px;
  color: #fff;
  font-size: 22px;
  width: 100%;
  float:left;
}
.pelisv{
  width: 100%;
  float:left;
}
