ul{
  height: ;
  background:;
}

.container_12 div{
  height: 60px;
  border-radius: 5px;

  margin-top: 5px;
}

.verd{
  background: green;
}

.vermell{
  background: red;
}

.blau{
  background: blue;
}

.rosa{
  background: pink;
}

.lila{
  background: pink;
}


.alto{
  background: black;
  height: 300px !important;
}





/* PRODUCTO */
