body{
    overflow:hidden ;
    background: linear-gradient(270deg, rgba(241, 135, 92, 0.9) 0.01%, rgba(241, 135, 92, 0.9) 0.01%, rgba(244, 160, 101, 0.9) 9.7%, rgba(248, 184, 110, 0.9) 21.73%, rgba(250, 193, 113, 0.9) 28.45%, rgba(222, 201, 143, 0.9) 38.05%, rgba(184, 205, 173, 0.9) 50.23%, rgba(154, 205, 191, 0.9) 59.67%, rgba(141, 205, 197, 0.9) 65.17%, rgba(145, 204, 186, 0.9) 71.48%, rgba(157, 203, 156, 0.9) 83.58%, rgba(172, 200, 101, 0.9) 100%, rgba(101, 200, 179, 0.9) 100%);
}
.mood1{
    position: relative;
    text-align: center;
    margin: 22%;
    width: 56%;
}
.email{
    position: relative;
    width: 90%;
    margin: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);

}
.pass{
    margin-top: 1px;
    position: relative;
    width: 90%;
    margin: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);

}
.forgot{
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.forgot>a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.singup{
    font-family: Open Sans;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #9B9999;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 89.19%;
    bottom: -0.14%;
    background: rgba(255, 255, 255, 0.5);
}
.enter{
    font-family: Open Sans;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #9B9999;
    text-align: center;
    justify-content: center;
    position: absolute;
    position: relative;
    width: 50%;
    padding: 5%;
    margin: 15% auto;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
}
.input{
    background: transparent;
    border: none;
    width: 80%;
    margin: 8% 10%;
    height: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #9B9999;
}
@media (min-width: 767px){
    .mood1 {
        text-align: center;
        position: relative;
        width: 60%;
        height: 10%;
        margin: 80px 19%;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
    .enter{
        width: 280px;
        padding: 20px;
        margin: 50px auto;
    }
    .email {
        position: relative;
        width: 400px;
        margin: auto;
        margin-top: 80px;
        text-align: center;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
    .pass {
        margin-top: 1px;
        position: relative;
        width: 400px;
        margin: auto;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
    .forgot {
        position: relative;
        margin: auto;
        text-align: center;
        width: fit-content;
        margin-top: 15px;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
    .forgot>a {
        width: 100%;
        text-align: center;
        font-size: large;
    }

}
